:root {
  --accent: #EF540D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

html {
  height: 100%;
  font: 100%/1.5 monospace, -apple-system, "BlinkMacSystemFont", "SF UI", "Helvetica Neue", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.Site-root {
  max-width: 70em;
  margin: 1em auto;
  padding: 2em;
  font-family: Inconsolata;
}

a {
  color: inherit;
}

  a:hover, a:focus {
    color: var(--accent);
  }

