.Grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4em;
}
  .Grid:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

.Grid-cell {
  width: 20em;
  height: 20em;
  background-color: red;
  word-wrap: break-word;
  margin-right: 2em;
  margin-bottom: 2em;
}
